doctype html
html(lang="en")
	head
		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
	body
		div
			form(action='/', method='post')
				div.input
					span.label Hashtag
					input(type="text", name="hashtag")
				div.input
					input(type='submit', value="Submit")