doctype html
html(lang="en")
	head
		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js')

		script(type='text/javascript').
			var results = !{tweetsi};
			var count = results.length;
			document.write(count);
	body.
		
		<script></script>
			

	



